<footer>
    <p>Author: Douglas Mardegan</p>
    <p><a href="#">https://github.com/douglasmardegan</a></p>
</footer>

<style>
    @media screen and (max-width: 599px) and (orientation: portrait) {
        footer {
            width: 100%;
            margin-top: 0.5em;
            padding: 0.25em;
            text-align: center;
            font-size: 1em;
            background-color: #03658c;
            color: white;
            text-decoration: none;
        }

        footer p {
            margin: 0.25em;
        }

        p a {
            color: white;
            text-decoration: none;
        }
    }

    @media screen and (min-width: 600px) {
        footer {
            width: 100%;
            margin-top: 0.5em;
            padding: 0.25em;
            text-align: center;
            font-size: 1em;
            background-color: #03658c;
            color: white;
            text-decoration: none;
        }

        footer p {
            margin: 0.25em;
        }

        p a {
            color: white;
            text-decoration: none;
        }
    }
</style>