@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P";
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-content {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(#e06b0f, #f74b05, #ed2605);

  border-radius: 25px;
  padding-top: 0.1em;
  padding-bottom: 0.05em;
  box-shadow: 2px 2px gray, 1em 0 1em gray;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.name {
  padding: 0.5em;
  font-size: 1.75em;
  text-align: center;
  text-shadow: 0.15em 0.05em white;
  line-height: 1.2em;
}

img {
  width: 3em;
  height: 3em;
  margin-right: 1em;
}

.icons {
  width: 20em;
  height: 2em;
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

p > a {
  font-size: 1.2em;
  font-weight: bolder;
  padding: 1.5em;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

a:link,
a:visited {
  padding: 0.5em 1em;
  border-radius: 1em;
  background-color: white;
  color: black;
  text-decoration: none;
}

a:hover {
  background-image: linear-gradient(#e8e8db, #b0bac3, #858377);
  box-shadow: 0.05em 0.1em #e6f3ff, 0.1em 0 0.5em #b0bac3;
}
