* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

#container {
  max-width: 50em;
  max-height: 60em;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right,
    #cbaf58,
    #e7d057,
    #eed46b,
    #cea524,
    #c39d2e
  );
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  width: 50em;
  height: 10em;
  margin: 0 auto;
  background-image: linear-gradient(-45deg, #103815, #21712a, #247d2f, #195720);
  display: flex;
  text-align: center;
}

img.moneyFlatImage {
    width: 7.5em;
    margin: 1em 0 1em 1em;
    display: block;
}

h1.mainTitle {
  padding: 0.35em;
  margin: auto;
  color: white;
  font-family: Ariemal, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 900;
}

label {
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 0.25em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

#input_value {
  width: 25em;
  height: 3em;
  border: 0;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75em;
  border-radius: 0.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

#note {
  width: 25em;
  height: 2.5em;
  border: 0;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  border-radius: 0.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

#conversionUSD,
#conversionEUR,
#conversionGBP,
#conversionJPY,
#conversionAUD,
#conversionCHF,
#conversionCAD,
#conversionCNY,
#conversionARS,
#conversionTRY {
  width: 25em;
  height: 2.5em;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  border-radius: 0.3em;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

#conversionTRY {
  margin-bottom: 1.5em;
}

#button {
  width: 6em;
  height: 4em;
  border: 0;
  color: black;
  background-image: linear-gradient(
    -45deg,
    #808080,
    #a0a0a0,
    #c0c0c0,
    #a0a0a0,
    #808080
  );
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  border-radius: 0.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

#button:hover {
  width: 6em;
  height: 4em;
  border: 0;
  color: white;
  background-image: linear-gradient(-45deg, #08090d, #1a1e26, #343a40, #6e7371);
  transition: 1.25s;
}
