* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  background-color: black;
  box-sizing: border-box;
}

div.container {
  max-width: 50vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right,
    #cbaf58,
    #e7d057,
    #eed46b,
    #cea524,
    #c39d2e
  );
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  width: 50vw;
  height: 20vh;
  background-image: linear-gradient(-45deg, #103815, #21712a, #247d2f, #195720);
  display: flex;
  justify-items: center;
  align-items: center;
}

img.moneyFlatImage {
  width: 5.5em;
  margin: 1em 1em 1em 1em;
  display: flex;
  justify-items: center;
  align-content: center;
}

h1 {
  width: 40vw;
  height: auto;
  margin: auto;
  padding: 0.35em;
  color: white;
  font-family: Ariemal, Helvetica, sans-serif;
  font-size: 1.85em;
  font-weight: 900;
}

label {
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 6.5em;
  height: 2.5em;
  border: 0.15em solid black;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75em;
  border-radius: 0.25em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

select {
  max-width: 25em;
  height: 2.5em;
  border: 0;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75em;
  border-radius: 0.25em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

#note {
  min-width: 10em;
  height: 2em;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#initialCurrency, #finalCurrency {
  width: 3em;
  height: 1.5em;
  border: 0;
  border-radius: 0.25em;
  margin-left: 0.25em;
  margin-right: 0.25em;         
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#currencyConversionResult {
  width: 7.5em;
  height: 2.5em;
  border: 0.15em solid black;
  border-radius: 0.25em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bolder;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.convertButton {
  width: 6em;
  height: 2.5em;
  border: none;
  border-radius: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background-image: linear-gradient(
    -45deg,
    #808080,
    #a0a0a0,
    #c0c0c0,
    #a0a0a0,
    #808080
  );
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

button.convertButton:hover {
  color: white;
  background-image: linear-gradient(-45deg, #08090d, #1a1e26, #343a40, #6e7371);
  transition: 1.50s;
}

button.convertButton:active {
  transform: translateY(0.25em);
  transition: 0.25s;
}

footer {
  max-width: 60vw;
  height: 4.5vh;;
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(-45deg, #103815, #21712a, #247d2f, #195720);
  text-align: center;
}

@media screen and (max-width: 1308px) {
  h1 {
    font-size: 1.5em;
  }
}
